<!html>
<head>
<!-- Place this tag in your head or just before your close body tag. -->
<script>
function ok() {
  var xhr = new XMLHttpRequest();
  xhr.open("POST", "http://api.github.com/repos/gjtorikian/testing/issues", true);
  xhr.setRequestHeader('Content-Type', 'application/json');
  xhr.send(JSON.stringify({
      title: 'hello'
  }));
  xhr.onload = function() {
    console.log("HELLO")
    console.log(this.responseText);
    var data = JSON.parse(this.responseText);
    console.log(data);
  }
}
</script>
</head>

<body>
{{ content }}
</body>
